ENVIRONMENT=development
BASE_URL=http://localhost/setas-web/

DB_HOST=127.0.0.1
DB_NAME=setas-web
DB_USER=root
DB_PASS=
DB_PORT=3306
DB_CHARSET=utf8

SESSION_LIFETIME=3600
COOKIE_REMEMBER_DAYS=30

MAIL_FROM=no-reply@setas-web.com.br
MAIL_FROM_NAME="SETAS-WEB"
RECUP_SENHA_TOKEN_MINUTES=30
